<h1>Listing subs</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subs.each do |sub| %>
  <tr>
    <td><%= sub.from %></td>
    <td><%= sub.to %></td>
    <td><%= sub.text %></td>
    <td><%= link_to 'Show', sub %></td>
    <td><%= link_to 'Edit', edit_sub_path(sub) %></td>
    <td><%= link_to 'Destroy', sub, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sub', new_sub_path %>
